.filterTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
  margin-bottom: 32px;
}
.containerFilter {
  display: flex;
  flex-direction: column;
}
.buttonShowMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: white;
  border-radius: 200px;
  padding: 20px 60px;
  width: 166px;
  background: #e44848;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.buttonShowMore:hover {
  background: #d13737;
}
.textLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorMessage {
  color: red;
  font-size: 10px;
}
.icon {
  position: absolute;
  left: 8px;
  pointer-events: none;
}
.formContainer {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.inputField {
  padding-left: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  border-radius: 12px;
  width: 200px;
  background: #f7f7f7;
  border: #f7f7f7;
}
